<!-- Redirect to add bets if not group admin -->
{% include 'base-template.html' %}

<form action="{% url 'maingame:set_stakes' group_id event.id %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <h4 class="bg-secondary text-white">Welcome Commissioner!</h4>
        <h5>What are the stakes?</h5>
        {% if allow_set_stakes %}
            <input type="text" class="form-control" id="formSetStakesExampleInput" name="setStakes" placeholder="{{ event.stakes }}" required>
        {% else %}
            <input class="form-control" type="text" placeholder="{{ event.stakes }}" readonly>
        {% endif %}
    </div>
    <div class="col text-center">
        {% if allow_set_stakes %}
            <button type="submit" class="btn btn-primary">SUBMIT STAKES AND START ADDING BETS</button>
        {% else %}
            <button type="submit" class="btn btn-secondary disabled" disabled="true">STAKES ARE SET</button>
        {% endif %}
    </div>
</form>

</br>

<h3 class="col text-center">Invite friends to join your group!</h3>
<h6 class="col text-center">Share this link: <a href="http://abettorgame.herokuapp.com/main/{{group_id}}/{{event.id}}/play">abettorgame.herokuapp.com/main/{{group_id}}/{{event.id}}/play</a></h6>

</br>

<h5 class="col text-center">As the commissioner, you have special powers and responsibilities. Which start with reading these instructions:</h5>
<div class="container">
    <ol class="list">
        <li>
            Invite your friends using the link above or the Group ID: {{ group_id }}-{{ event.id }}
        </li>
        <li>
            Let everyone know what we're playing for by setting the stakes above
        </li>
        <li>
            Once all the bets are added for the game, come back to this screen and hit the "LOCK IN BETS!" button below. No new bets can be added after this
        </li>
        <li>
            At this point, players can place their bets on each of the bets that were created. Once everyone has voted (double check the "Awaiting" list to see which players have yet to submit), hit the "START GAME" button below. No new votes can be added after this (for any player that didn't vote, a random pick has been made for them. Sucks to suck)
        </li>
        <li>
            As the commissioner, you have the ability to select the winning option for each bet as they take place. A button will appear on the voting page after you start the game. You'll see the Leaderboard update in real-time
        </li>
        <li>
            Once all bets are completed, come back here and hit "END GAME" to finalize all scores. For any bets that are a tie or have not completed, no points will be awarded
        </li>
        <li>
            Now that you're an expert at being the commissioner, text a million of your closest friends to come play
        </li>
    </ol>
</div>

<div class="container">
    <div class="row">
        <div class="col text-center">
            {% if allow_lock_bets %}
                <form action="{% url 'maingame:lock_bets' group_id event.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success">LOCK IN BETS!</button>
                </form>
            {% elif allow_start_game %}
                <form action="{% url 'maingame:start_event' group_id event.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success">START GAME</button>
                </form>
            {% else %}
                <button class="btn btn-secondary disabled" role="button" disabled="true">GAME IN SESSION</button>
            {% endif %}
        </div>

       <div class="col text-center">
           {% if allow_end_game %}
                <form action="{% url 'maingame:end_event' group_id event.id %}" method="post">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-danger">END GAME</button>
                </form>
            {% else %}
                <button class="btn btn-secondary disabled" role="button" disabled="true">GAME IS OVER!</button>
            {% endif %}
        </div>
  </div>
</div>

<div class="container m-4 p-4">
</div>