{% include 'base-template.html' %}
<div class="container border border-white p-5">
  <h2 class="col text-center p-3">Start a Group</h2>
  <form>
    <div class="form-group">
      <label for="inputGroupId">Enter Invite Code</label>
      <input type="groupId" class="form-control" id="inputGroupId" placeholder="123-456">
    </div>
    <button type="submit" class="btn btn-primary">Join Group</button>
  </form>
</div>

<div class="container border border-white p-5">
  <h2 class="col text-center p-3">Start a Group</h2>
  <form>
    <div class="form-group">
      <label for="inputGroupName">Enter Group Name</label>
      <input type="groupName" class="form-control" id="inputGroupName" placeholder="Greater Wynnewood Exotic Animal Park">
    </div>
    <button type="submit" class="btn btn-primary">CREATE GROUP</button>
  </form>
</div>