{% include 'base-template.html' %}

<div class="container border border-white p-5">

  <h2 class="col text-center p-4">Join a Group</h2>

  <div class="row">
    <form>
      <div class="form-group row">
        <label for="inputGroupId" class="col-auto col-form-label">Enter Invite Code</label>
        <div class="col-auto">
          <input type="groupId" class="form-control" id="inputGroupId" placeholder="ABCD">
        </div>

        <div class="col col-auto text-center">
          <button type="submit" class="btn btn-primary">JOIN GROUP</button>
        </div>`
      </div>
    </form>
  </div>

</div>


<div class="container border border-white p-5">

  <h2 class="col text-center p-3">Start a Group</h2>

  <div class="row">
    <form>
      <div class="form-group row">
        <label for="inputGroupName" class="col-auto col-form-label">Enter Group Name</label>
        <div class="col-auto">
          <input type="groupName" class="form-control" id="inputGroupName" placeholder="Greater Wynnewood Exotic Animal Park">
        </div>
        <div class="col col-auto text-center">
          <button type="submit" class="btn btn-primary">CREATE GROUP</button>
        </div>
      </div>
    </form>

  </div>

</div>
</div>