{% include 'base-template.html' %}

<!-- pass group object (per db contains name and particpatns) -->
<h2 class="col text-center">{{ event.name }}</h2>
<h6 class="col text-center">Group ID: {{ group_id }}-{{ event.id }}</h6>
<h6 class="col text-center">Commissioner: {{ event_commissioner }}</h6>
<h6 class="col text-center">Stakes: {{ event.stakes }}</h6>

</br> 

<h2 class="col text-center">My Rank: {{user_best_result_dict.rank}}</h2>

</br> 


<div class="container">
  <div class="row">
    <div class="col">
      Won</br>
      {{ user_best_result_dict.won }}
    </div>
    <div class="col">
      Lost</br>
      {{ user_best_result_dict.lost }}
    </div>
    <div class="col">
      Remaining</br>
      {{ user_best_result_dict.remaining }}
    </div>
  </div>
</div>

</br>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Won</th>
      <th scope="col">Lost</th>
    </tr>
  </thead>
  <tbody>
    {% for player, results in bet_results_dict.items %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ player }}</td>
      <td>{{ results.won }}</td>
      <td>{{ results.lost }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>