{% include 'base-template.html' %}

<form action="{% url 'maingame:login_user' %}" method="post">
  {% csrf_token %}
  <h2 class="col text-center">WELCOME BACK!</h2>
  <div class="form-group row align-items-center">
    <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
    {% if error_message_login %}
      <label class="col-sm-2"><p><strong>{{ error_message_login }}</strong></p></label>
    {% endif %}
    <div class="col-sm-4">
      <input type="email" class="form-control" id="inputEmailLogin" name="loginEmail" placeholder="email@example.com">
    </div>
  </div>
  <div class="col text-center">
    <button type="submit" class="btn btn-primary">LOG IN</button>
  </div>
</form>

</br>
</br>

<form action="{% url 'maingame:create_user' %}" method="post">
  {% csrf_token %}
  <h2 class="col text-center">NEW USER?</h2>
  <div class="form-group row align-items-center">
    <label for="inputFirstName" class="col-sm-2 col-form-label">First Name</label>
    <div class="col-sm-4">
      <input type="firstName" class="form-control" id="inputFirstName" name="createFirstName" placeholder="First Name" required>
    </div>
  </div>
  <div class="form-group row align-items-center">
    <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
    {% if error_message_create %}
      <label class="col-sm-2"><p><strong>{{ error_message_create }}</strong></p></label>
    {% endif %}
    <div class="col-sm-4">
      <input type="email" class="form-control" id="inputEmailCreate" name="createEmail" placeholder="email@example.com">
    </div>
  </div>
  <div class="col text-center">
    <button type="submit" class="btn btn-primary">CREATE ACCOUNT</button>
  </div>
</form>