{% include 'base-template.html' %}
<!-- JS Functions -->
<!-- Needs to be fixed -->
<!-- {% if not is_event_started %}
  {% include 'js/bet_handlers.js' %}
{% endif %} -->

<h2 class="col text-center">{{ event.name }}</h2>
<h6 class="col text-center">Group ID: {{ group_id }}-{{ event.id }}</h6>
<h6 class="col text-center">Commissioner: {{ event_commissioner.first_name }}</h6>
<h6 class="col text-center">Stakes: {{ event.stakes }}</h6>


</br>

<h4 class="bg-secondary text-white">Bets Placed</h4>
<div class="container">
  <div class="row">
    {% for player in players_bets_placed %}
      <div class="col-3">
        {{ player }}
      </div>
    {% endfor %}
  </div>
</div>

<h4 class="bg-secondary text-white">Awaiting</h4>
<div class="container">
  <div class="row">
    {% for player in players_bets_awaiting %}
      <div class="col-3">
        {{ player }}
      </div>
    {% endfor %}
  </div>
</div>

</br>
</br>

<h4 class="bg-secondary text-white">Bets</h4>

<form action="{% url 'maingame:create_placements' group_id event.id %}" method="post">
  {% csrf_token %}
  {% for bet in bets_list %}
  <div class="container border">
    <div class="row">
        <div class="col font-weight-bold">
          {{ bet.bet.question }}
        </div>
    </div>
    <div class="row">
        <div class="col font-italic">
          Creator: {{ bet.bet.creator.first_name }}
        </div>
    </div>
     <div class="row">
      {% for bet_option in bet.bet_options %}
        <!-- should store the bet ID and answer ID somewhere in the div? -->
        <div class="col border bet-selection-div">
          {{ bet_option.bet_option.text }}
          <div class="col text-center border-top">
            {{ bet_option.player_first_names }}
          </div>
          <!-- Need to add in logic about the bet still being live (no winner selected) or also don't show the SELECT WINNER options - and highlight outline of box with color based on win / loss and if game ended tie -->
          {% if event_status.is_event_started and not event_status.is_event_ended and is_admin %}
            <div class="col text-center">
              <button type="submit" class="btn btn-primary">SELECT WINNER</button>
            </div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
  </span>
  </br>
  {% endfor %}
  <div class="col text-center">
    <button type="submit" class="btn btn-primary">LOCK IN BETS</button>
  </div>
</form>