{% include 'base-template.html' %}

<!-- pass group object (per db contains name and particpatns) -->
<h2 class="col text-center">{{ event.name }}</h2>
<h6 class="col text-center">Group ID: {{ group_id }}-{{ event.id }}</h6>
<h6 class="col text-center">Commissioner: {{ event_commissioner }}</h6>
<h6 class="col text-center">Stakes: {{ event.stakes }}</h6>

</br>

<h4 class="bg-secondary text-white">Participants</h4>
<div class="container">
  <div class="row">
    {% for first_name in player_first_names %}
      <div class="col-3">
        {{ first_name }}
      </div>
    {% endfor %}
  </div>
</div>

</br>
</br>

<h4 class="bg-secondary text-white">Current Bets</h4>
{% for bet in group.bets %}
<div class="container border">
  <div class="row">
      <div class="col font-weight-bold">
        {{ bet.bet }}
      </div>
  </div>
  <div class="row">
      <div class="col font-italic">
        Creator: {{ bet.creator }}
      </div>
  </div>
   <div class="row">
      <div class="col border">
        {{ bet.option_1 }}
      </div>
      <div class="col border">
        {{ bet.option_2 }}
      </div>
  </div>
</div>
</span>
</br>
{% endfor %}

</br>
<form>
  <div class="form-group">
    <h4 class="bg-secondary text-white">Add New Bet</h4>
    <input type="text" class="form-control" id="formAddBetExampleInput" placeholder="Is the DJ going to play Wagon Wheel?">
  </div>
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="100% Yes">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="No Chance">
    </div>
  </div>
</br>
  <div class="col text-center">
    <button type="submit" class="btn btn-primary">SUBMIT BET</button>
  </div>
</form>