{% include 'base-template.html' %}

<h2 class="col text-center">{{ event.name }}</h2>
<h6 class="col text-center">Group ID: {{ group_id }}-{{ event.id }}</h6>
<h6 class="col text-center">Commissioner: {{ event_commissioner }}</h6>
<h6 class="col text-center">Stakes: {{ event.stakes }}</h6>

</br>

<h4 class="bg-secondary text-white">Participants</h4>
<div class="container">
  <div class="row">
    {% for first_name in player_first_names %}
      <div class="col-3">
        {{ first_name }}
      </div>
    {% endfor %}
  </div>
</div>

</br>
</br>

<h4 class="bg-secondary text-white">Current Bets</h4>
{% for bet in bets_list %}
<div class="container border">
  <div class="row">
      <div class="col font-weight-bold">
        {{ bet.bet.question }}
      </div>
  </div>
  <div class="row">
      <div class="col font-italic">
        Creator: {{ bet.bet.creator.first_name }}
      </div>
  </div>
   <div class="row">
    {% for bet_option in bet.bet_options %}
      <div class="col border">
        {{ bet_option.text }}
      </div>
    {% endfor %}
  </div>
</div>
</span>
</br>
{% endfor %}

</br>
<form action="{% url 'create_bet' group_id event.id %}" method="post">
  {% csrf_token %}
  <div class="form-group">
    <h4 class="bg-secondary text-white">Add New Bet</h4>
    <input type="text" class="form-control" id="formAddBetExampleInput" name="betQuestion" placeholder="Is the DJ going to play Wagon Wheel?" required>
  </div>
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" name="betOption1" placeholder="100% Yes" required>
    </div>
    <div class="col">
      <input type="text" class="form-control" name="betOption2" placeholder="No Chance" required>
    </div>
  </div>
</br>
  <div class="col text-center">
    <button type="submit" class="btn btn-primary">SUBMIT BET</button>
  </div>
</form>