{% include 'base_template.html' %}

<!-- pass group object (per db contains name and particpatns) -->
<h2 class="col text-center">{{ group.name }}</h2>
<h6 class="col text-center">Commissioner: {{ group.admin }}</h6>

</br>

<div class="container-fluid">
  <div class="col-3"><h6 class>Bets Placed</h6>
    {% for participant in group.participants_placed %}
      <div class="row">
        {{ participant }}
      </div>
    {% endfor %}
    <div class="col-3"><h6 class>Awaiting</h6>
    {% for participant in group.participants_awaiting %}
      <div class="row">
        {{ participant }}
      </div>
    {% endfor %}
  </div>
</div>

</br>
</br>

<h4 class="bg-secondary text-white">Bets</h4>
{% for bet in group.bets %}
<div class="container border">
  <div class="row">
      <div class="col font-weight-bold">
        {{ bet.bet }}
      </div>
  </div>
  <div class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-secondary border">
      <input class="col" type="radio" name="options" id="option1" autocomplete="off"> {{ bet.option_1 }}
    </label>
    <label class="btn btn-secondary border" style="margin-bottom:4px; word-wrap:break-word;">
      <input type="radio" name="options" id="option2" autocomplete="off"> {{ bet.option_2 }}
    </label>
  </div>
</div>
</span>
</br>
{% endfor %}


<div class="form-group">
  <div class="btn-group btn-group-justified btn-switch-justified">
    <div class="btn-group">
      <button type="button" class="btn btn-default btn-switch active">
          <span class="goods">Yes</span>
         </button>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-default btn-switch">
          <span class="services">No</span>
         </button>
    </div>
  </div>
</div>






</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
<!-- actual index is below. using this page to test creative for now before creating routes -->
<form>
  <h2 class="col text-center">Join a Group</h2>
  <div class="form-group row align-items-center">
    <label for="inputGroupId" class="col-sm-2 col-form-label">Enter Invite Code</label>
    <div class="col-sm-4">
      <input type="groupId" class="form-control" id="inputGroupId" placeholder="ABCD">
    </div>
  <div class="col text-center">
    <button type="submit" class="btn btn-primary">JOIN GROUP</button>
  </div>
</form>

</br>
</br>
</br>
</br>

<form>
  <h2 class="col text-center">Start a Group</h2>
  <div class="form-group row align-items-center">
    <label for="inputGroupName" class="col-sm-2 col-form-label">Enter Group Name</label>
    <div class="col-sm-4">
      <input type="groupName" class="form-control" id="inputGroupName" placeholder="Greater Wynnewood Exotic Animal Park">
    </div>
  <div class="col text-center">
    <button type="submit" class="btn btn-primary">JOIN GROUP</button>
  </div>
</form>